[submodule "path_to_submodule"] 
  path = FullWebpageProject
  url = https://github.com/reric88/FullWebsiteProject.git

[submodule "path_to_submodule"] 
  path = LePain
  url = https://github.com/reric88/lepain.git

[submodule "path_to_submodule"] 
  path = VideoBackgroundProject
  url = https://github.com/reric88/VideoBackgroundProject.git

[submodule "path_to_submodule"] 
  path = WhatWeEatin
  url = https://github.com/reric88/wut-we-eatin.git

# [submodule "path_to_submodule"] 
#   path = path_to_submodule 
#   url = git://url-of-source/

# [submodule "path_to_submodule"] 
#   path = path_to_submodule 
#   url = git://url-of-source/

# [submodule "path_to_submodule"] 
#   path = path_to_submodule 
#   url = git://url-of-source/

# [submodule "path_to_submodule"] 
#   path = path_to_submodule 
#   url = git://url-of-source/