@font-face {
    font-family: newRodin;
    src: url(./Typeface/NewRodin\ Pro\ L.otf);
}

@font-face {
    font-family: newRodinB;
    src: url(./Typeface/NewRodin\ Pro\ B.otf);
}

@font-face {
    font-family: newRodinUB;
    src: url(./Typeface/NewRodin\ Pro\ UB.otf);
}

@font-face {
    font-family: newRodinEB;
    src: url(./Typeface/NewRodin\ Pro\ EB.otf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'newRodin', Arial, Helvetica, sans-serif;
    --white: #eee;
    --black: #111;
    --orange: #e40;
    --orange-trans: #e409;
    --orange-sec: #e52;
  }
  
  .small, .why, .so {
    display: none;
  }

input[type=radio] {
    display: none;
}

  body {
    /* font-family: 'newRodin', Arial, Helvetica, sans-serif; */
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(
      100vw 100vh at 50vw 50vh,
      /* #fc7c4ac0,
      #e74100 */
      var(--orange-trans),
      var(--orange)
    );
    background-attachment: fixed;
    display: grid;
    place-items: start center;
    overflow-x: hidden;
  }
  
  .much-container-wow-so-big {
    width: 75rem;
    height: 12rem;
    position:fixed;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: transparent;
    /* background-color: #2D2B3E; */
    z-index: 1;
}

.sub-menu-container {
    width: 60rem;
    height: 6rem;
    /* border: 2px solid yellow; */
    position: absolute;
    align-self: flex-end;

}

  .sub-link {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* top: 8rem; */
    z-index: 11;
    /* border: 1px solid peachpuff; */

    bottom: 0;
    position: relative;
}

.sub-link a {
    color: #eee;
}

/* #region Navbar */

  .link-menu  {
    display: contents;
    /* visibility: hidden; */
  }
  
  .link-menu a {
    visibility: visible;
  }
  
  .right-nav, .left-nav {
    /* background-color: #8c8; */
    width: 7.5rem;
    height: 6rem;
    /* position:absolute; */
    /* border: 5px solid green; */
    /* background-color: transparent; */
  }

  .right-nav::before {
    content: "";
    position: absolute;
    /* background-color: transparent; */
    background-color: red;
    /* right: -6rem; */
    /* bottom: 15rem; */
    top: -22rem;
    right: -2rem;
    height: 13rem;
    width: 10rem;
    /* border-radius: 10%; */
    border-bottom-right-radius: 100%;
    box-shadow: 0 15rem 0 0 var(--black);
  }

  .left-nav::before {
    content: "";
    position: absolute;
    background-color: transparent;
    background-color: red;
    /* left: -6rem; */
    /* bottom: 15rem; */
    top: -22rem;
    left: -2rem;
    height: 13rem;
    width: 10rem;
    /* border-radius: 10%; */
    border-bottom-left-radius: 100%;
    box-shadow: 0 15rem 0 0 var(--black);
  }



  .navbar-container {
    width: 62rem;
    height: 12rem;
    /* position: absolute; */
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    z-index: 10;
    border-radius: 0 0 1rem 1rem;
    /* background-color: blanchedalmond; */
    position: relative;
  }
  
  .navbar {
    width: 100%;
    height: 6rem;
    display: flex;
    background-color: var(--black);
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .navbar-link {
    width: 100%;
    height: 100%;
    background-color: var(--black);
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 1rem;
    position: relative;
    transition: bottom 200ms, background-color 600ms 200ms;
  }
  
  .change.navbar-link {
    background-color: var(--orange-sec);
    transition: background-color 100ms;
    pointer-events: none;
  }
  
  .navbar-link::before {
    content: "";
    width: 99%;
    height: 8rem;
    background-color: var(--orange-sec);
    position: absolute;
    bottom: 10%;
    left: 0;
    border-radius: 1rem;
    transition: bottom 350ms 250ms, transform 200ms;
    z-index: -1;
  }
  
  /* .navbar .navbar-sub-menu {
    position: absolute;
    height:6rem;
    width: 60rem;
    padding: .6rem;
    background-color: purple;
    border: 1px solid black;
    z-index: 2;
    top: 6rem;
    overflow: visible;
    display: grid;
    justify-content: center;
    margin-bottom: 0;
    grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem  ;
    grid-template-rows: 1rem ;
    gap: 2rem;
    column-gap: 1rem;
  } */
  
  /* .test {
    height: 1.7rem;
    width: 1.7rem;
    background-color: purple;
  } */
  
 

  .change.navbar-link::before {
    height: 12rem;
    width: 100%;
    bottom: 0%;
    background-color: var(--orange-sec);
    left: 0;
    transform: scale(13, 12);
    transition: bottom 350ms 250ms, transform 500ms 200ms;
    z-index: -1;
  }
  
  .navbar-link i {
    margin-bottom: 0;
    font-size: 1.5rem;
    color: var(--white);
    transition: margin-bottom 200ms, color 200ms, font-size 300ms;
    pointer-events:none;
  }
  
  .navbar-link i:hover {
    font-size: 1.7rem;
    transition: font-size 100ms;
    pointer-events: all;
  }
  
  .change.navbar-link i {
    margin-bottom: 10%;
    color: var(--black);
    font-size: 2.5rem;
    transition: margin-bottom 200ms, color 200ms, font-size 300ms;
  }

/* #endregion */







/* #region Text Background */

  h1 {
    font-family: newRodinUB;
    font-size: 6rem;
    line-height: 1.2;
}

.text-hollow {
    color: #fff0;
    -webkit-text-stroke: 2px var(--black);
}

.neuro-img {
    height: 50rem;
    width: 140rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* background-image: url(./Images/Pastel_Neurodiversity_Symbol.png); */
    /* background-repeat: no-repeat; */
    object-fit: cover;
    /* background-size: 55%; */
    /* background-attachment: fixed; */
    /* rotate: -15deg; */
    /* object-fit: cover; */
    /* overflow: hidden; */
    /* opacity: .4; */
    /* border: 1px solid red; */
    z-index: -100;

}

.neuro-img img {
    width: 80rem;
    rotate: -15deg;
    opacity: .4;
}


.nd-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    position: relative;
    margin-top: 12rem;
    width: 62rem;
    height: 45rem;
    /* top: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 2px solid red; */

}

#hdiv-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#hdiv4 {
    margin-right: 25%;
}

#hdiv7 {
    margin-left: 10%;
}

/* #endregion */

/* #region About/Contact tabs */

#tab-container {
    width: 62%;
    margin-top: 5rem;
    padding: 0 auto;
    display: flex;
    justify-self: center;
    justify-content: space-around;
    /* border: 1px solid red; */
}

/* #about-title {
    height: 80px;
    width: 170px;
    display: block;
    text-align: center;
    border:2px solid #000;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

#contact-title {
    height: 80px;
    width: 170px;
    text-align: center;
    border:2px solid #000;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    }

    #projects-title {
        height: 80px;
        width: 170px;
        text-align: center;
        border:2px solid #000;
        border-bottom: none;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        } */
    
.tab-title{
    height: 4rem;
    width: 12rem;
    text-align: center;
    /* border:2px solid #000; */
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    margin-bottom: 0;
    transition-duration: 300ms;
}

/* .tab-title:hover ~ h2 {
    font-size: 5rem;
} */
.tab-text:hover {
    font-size: 2.1rem;
}

    #contact-title, #projects-title {
        margin-left: 5px;
    }



.tab-text {
    color: var(--black);
    /* background-color: #e74200da; */
    font-size: 2rem;
    mix-blend-mode:multiply;
    /* background-image:linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)); */
}

#textbox {
    width:70rem ;
    min-height: 0;
    max-height: 40rem;
    height: fit-content;
    margin: 0 auto;
    position: relative;
    text-align: justify;
    background-color: var(--orange-trans);
    /* border: 2px solid #000; */
    border-radius: 8px;
    padding: 1rem;
    display: flex;
}

#textbox #about-p {
    line-height: 1.5;
}

.a-tab {
    text-decoration: none;
    /* z-index: 0; */
    margin: 0 auto;
}


.hide {
    display: none;
}

/* input[type="radio"] {
    display: none;
} */

.show {
    display: block;
}

input[name=tab]:checked ~ .tab-title{
    transform-origin: bottom center;
    transform: scale(1.3);
    transition-duration: 200ms;
}
/* 
#about-btn:checked ~ .tab-title{
    transform: scale(1.3);
    transition-duration: 300ms;
}

#contact-btn:checked ~ .tab-title{
    transform: scale(1.3);
    margin: 0 0;
    transition-duration: 300ms;
}

#projects-btn:checked ~ .tab-title{
    transform-origin: bottom center;
    transform: scale(1.3);
    transition-duration: 300ms;
} */

input[name=tab]:checked ~ .tab-title .tab-text{
    background-color: var(--orange-trans);
    mix-blend-mode:multiply;
    color: var(--white);
    /* color: #ffffff00;
    -webkit-text-stroke: 2px black; */
}


/* .a-tab:hover ~ .table-title .tab-text {
    background-color: blue;
} */

/* #contact-btn:checked ~ .tab-title .tab-text{
    background-color: #e74200da;
    mix-blend-mode:multiply;
     color: #ffffff00;
    -webkit-text-stroke: 2px black; 
} */



#contact-div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    /* z-index: 0; */
    /* border: 1px solid red; */
    
    
}

#contact-div-title {
    width: 100%;
    text-align: center;
}

.label-container {
    margin: 5px 10px;
    width: 15rem;
    display: inline-block;
    /* border: 1px solid green; */
}

/* .label-container:nth-of-type(1), .label-container:nth-of-type(2) {
    display: inline-block;
}

.label-container:nth-of-type(3), .label-container:nth-of-type(4) {
    display: inline-block;
} */

 .contact-info {
    width: 100%;
}

#text-container {
    width: 100%;

}

textarea {
    max-width: 100%;
    min-width: 12rem;
    width: 24rem;
    min-height: 6rem;
    margin-top: 1rem;
}

.contact-input::placeholder {
    
    color: #000a;
    font-size: 1rem;
}

.contact-input {
    border: none;
    height: 1.5rem;
    padding-left: 5px;
    background-color: #fff3;
    border-radius: 5px;
    
}

.contact-input::selection {
    border: none;
    /* background-color: red; */
    border-radius: 5px;
    
}

#submit-btn {
    padding: 2px 6px;
    border: none;
    background-color: var(--orange);
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--white);
    mix-blend-mode: screen;
    border-radius: 5px;

}

/* #endregion */

/* #region Image Slider */

.slider-container {
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 80rem;
    height: 30rem;
    border-radius: 8px;
    box-shadow: 5px 5px 20px 2px black;
    /* border:2px solid purple; */
}

.left-slide {
    height: 100%;
    width: 35%;
    position: relative;
    top: -400%;
    /* left: 0; */
    transition: transform 500ms ease;
    /* border:2px solid purple; */
}

.left-slide > div {
    /* position: relative; */
    height: 100%;
    width: 100%;
    padding: 0 3rem;
    text-align: center;
    /* letter-spacing: 2rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);

}

.left-slide h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;

}

.right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 500ms ease;

}

.right-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

button {
    background-color: var(--white);
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

button:hover {
    color: var(--black);
}

button:focus {
    outline: none;
}

.slider-container .action-buttons button {
    position: absolute;
    /* position: relative; */
    left: 35%;
    top: 50%;
    z-index: 100;
}


.slider-container .action-buttons .down-button {
    border-radius: 5px 0 0 5px;
    transform: translateX(-100%);
}

.slider-container .action-buttons .up-button {
    border-radius: 0 5px 5px 0;
    transform: translatey(-100%);
}

.vbgp {
}



.bg-video {
    background-color: #00101A;
}
.bg-video a{
    color: #eee;
}

.bg-video .pSpan {
    display: block;
    margin-bottom: 2rem;
}

.bg-video span {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

.bg-video h1 {
    display: block;
}

.bg-full-webpage {
    background-color: #2D2B3E;
}
.bg-full-webpage a{
    color: #eee;
}

.bg-lepain {
    background-color: #1A1B1D;
}
.bg-lepain a{
    color: #eee;
}

.bg-wheel {
    background-color: #1F180F;
}
.bg-wheel a{
    color: #6e593d;
}

.bg-ZONK {
    background-color: #050f05;    
}

.bg-ZONK a {
    color: #8c8;
}




.video {
    background-image: url(./Images/bideoBackground.png);
}

.full-webpage {
    background-image: url(./Images/fullWebpageProject.png);
}

.lepain {
    background-image: url(./Images/bootstrapExercise.png);
}

.wheel {
    background-image: url(./Images/wutWeEatin.png);
}

.ZONK {
    background-image: url(./Images/ZONK.png);
}



.htmlTag {
    color: rgb(119, 119, 119);
}

.letterTag {
    color: rgb(46, 46, 255);
}

.letterTag2 {
    color: rgb(63, 207, 243);
}

.letterTag3 {
    color: rgb(187, 121, 67);
}







/* #endregion */












.space  {
    width: 100%;
    height: 100rem;
}







@media (width < 1300px) {
    * {
        font-size: 75%;
    }
}

@media (width < 950px) {
    * {
        font-size: 60%;
    }
}

@media (width < 750px) {
    * {
        font-size: 45%;
    }
}

@media (width < 550px) {
    * {
        font-size: 40%;
    }
}

@media (width < 500px) {
    * {
        font-size: 35%;
    }
}

@media (width < 450px) {
    * {
        font-size: 30%;
    }
}

@media (width < 350px) {
    * {
        font-size: 25%;
    }
}

@media (width < 300px) {
    * {
        font-size: 20%;
    }
}

@media (width < 250px) {
    body {
        background-image: none;
        background-color: #111;
    }

    div {
        display: none;
    }
    a {
        display: none;
    }
    .why {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #111;
        height: 1000px;
        width: 250px;
        z-index: 100;
        text-align: center;
        justify-content: flex-start;
        align-items: flex-start;
        
    }

    p {
        font-family: 'newRodinEB', Arial, Helvetica, sans-serif;
        font-size: 3rem;
        color: #eee;;
    }
}

@media (height < 250px) {
    body {
        background-image: none;
        background-color: #111;
    }

    div {
        display: none;
    }
    a {
        display: none;
    }
    .why {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #111;
        height: 1000px;
        width: 1000px;
        z-index: 100;
        text-align: center;
        justify-content: flex-start;
        align-items: flex-start;
        
    }

    .why p {
        font-family: 'newRodinEB', Arial, Helvetica, sans-serif;
        font-size: 3rem;
        color: #eee;
    }
}


@media (height < 175px) {

    .why {
        display: none;
    }


    .so {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #111;
        height: 1000px;
        width: 1000px;
        z-index: 100;
        /* text-align: center; */
        justify-content: flex-start;
        align-items: flex-start;
    }

    .so p {
        font-family: 'newRodinEB', Arial, Helvetica, sans-serif;
        font-size: 8rem;
        color: #eee;
        display: inline;
    }
}

@media (height < 100px) {

    .why {
        display: none;
    }
    .so {
        display: none;
    }

    .small {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #111;
        height: 1000px;
        width: 1000px;
        z-index: 100;
    }

    .small p {
        font-family: 'newRodinEB', Arial, Helvetica, sans-serif;
        font-size: 8rem;
        color: #eee;
        display: inline;
    }
}














